/* Write your styles here */
body {
  background-color: #bdb76b;
}

.all {
    display: flex;
    width: 700px;
    border: 1px solid black;
    margin: 1em auto;
}

p {
  margin: 0;
  position: relative;
  left: 5%;
}

.calculator {
  position: relative;
  padding: 1em 0;
  width: 350px;
  background-color: rgb(136, 90, 179);
  }

.calc-row {
  text-align: center;
  width: auto;
}

.numbers{
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: repeat(5, 20%);
  box-sizing: border-box;
  width: 250px;
  height: 300px;
  align-items: stretch;
  margin-left: 15px;
}

 .calc-row div.screen {
  display: table;
  width: 75%;
  background-color: rgb(226, 224, 224);
  text-align: right;
  font-size: 2em;
  min-height: 1.2em;
  margin-left: 0.5em;
  margin-bottom: 15px;
  padding-right: 0.5em;
  border: 1px solid #888;
  color: #333;
}

.button {
  text-align: center;
  font-weight: bold;
  border: 2px solid #555;
  background-color: rgb(154, 180, 219);
  width: 60px;
  line-height: 3.5em;
}

.c{
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}

.zero{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 5;
  grid-row-end: 6;
}

.one{
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 5;
}

.two{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
}
 
.three{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 4;
  grid-row-end: 5;
}

.four{
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
}

.five{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}

.six{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
}

.seven{
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}

.eight{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.nine{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

.device{
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
}

.multiply{
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
}

.plus{
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 4;
}

.minus{
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 4;
  grid-row-end: 5;
}

.equal{
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 5;
  grid-row-end: 6;
}

  .logs{
  padding: 1em 0;
  width: 350px;
  border: 1px solid black;
  height: 400px;
  overflow:auto;
}

.log{
  padding-top: 5px;
  width: 200px;
  font-size: 40px;
}


.circle{
  width: 10px;
  height: 10px;
  border: 2px solid black;
  border-radius: 50%;
  cursor: pointer;

}

.circle:hover{
  border: 2px solid red;
}

.red-background{
  background-color: red;
  border-color: rgb(255, 7, 7);
}

.delete:hover{
  color:red;
  cursor:pointer

}
