body {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-size: 18px;
	background-color: rgb(224, 224, 224);
}

/* Your code goes here */
section {
	margin-top: 30px;
}

.container1 {
	display: flex;
	text-align: center;
	align-items: stretch;
	flex-wrap: wrap;

	height: auto;

	flex-direction: row;
	justify-content: center;
	width: 1150px;
	margin: 0 auto;
}

.item1 {
	width: 575px;
	color: white;

	line-height: 300px;
	font-size: 50px;
	background-color: #76cdd8;
}

.pre1 {
	line-height: 20px;
	border-radius: 3px;
	position: relative;
	margin: 0 !important;
}

.pre1::before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 50px 50px 0;
	border-color: transparent #76cdd8 transparent transparent;
	visibility: hidden;
}

.item2:hover .pre1::before {
	visibility: visible;
}
.item2:hover .whatwe {
	color: #76cdd8;
}

.item2 {
	width: 575px;
	height: auto;
	background-color: white;
}

.item2 p {
	padding: 50px 110px 50px 70px;
	color: black;
	text-align: start;

	line-height: 180%;
}

.pre2 {
	line-height: 20px;
	border-radius: 3px;
	position: relative;
	margin: 0 !important;
}

.pre2::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
	border: 0 solid transparent;
	border-bottom-width: 50px;
	border-top-width: 0px;
	border-left: 50px solid #76cdd8;
	visibility: hidden;
}

.item3:hover .pre2::before {
	visibility: visible;
}
.item3:hover .new_sentence {
	color: #76cdd8;
}

.item3 {
	width: 575px;
	box-sizing: border-box;

	background-color: white;
}

.more_text span {
	color: #76cdd8;
	font-size: 26px;
}

.more_text {
	padding: 50px 45px 50px 70px;
	color: black;
	text-align: start;
	line-height: 180%;
	margin-bottom: 40px;
}

.read:hover {
	background-color: rgb(118, 205, 216);
}

.read2:hover {
	background-color: rgb(118, 205, 216);
}

.read {
	background-color: #4f8d96;
	color: white;
	height: 50px;
	width: 200px;
	border: none;
	float: right;
	font-size: 16px;
}

.item4 {
	width: 575px;
	box-sizing: border-box;
	background-color: #76cdd8;
}

.background_image {
	margin: 0 auto;
	object-fit: cover;
	width: 250px;
	height: 250px;
	border-radius: 50%;
	padding: 20px;
}

.epicgame {
	color: white;
	padding-bottom: 30px;
	font-size: 13px;
}

.item5 {
	height: 100%;
	width: 50%;
	background-image: url(/img/image-01.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	transition: 1s;
}

.item5:hover {
	transform: scale(1.1);
}

.item6 {
	width: 575px;
	box-sizing: border-box;

	background-color: white;
}
.more_text2 {
	padding: 50px 45px 50px 70px;
	text-align: start;
	color: rgb(109, 109, 109);

	line-height: 180%;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
		'Lucida Sans', Arial, sans-serif;
}

.item6:hover .pre1::before {
	visibility: visible;
}

.item6:hover .whatwe {
	color: #76cdd8;
}

.item6:hover .epam {
	color: #76cdd8;
}

.architect {
	font-size: 32px;
	color: #76cdd8;
}

.epam {
	color: blue;
}
.for_read2 {
	padding-left: 120px;
}

.read2 {
	background-color: #4f8d96;
	color: white;
	height: 50px;
	width: 200px;
	border: none;
	font-size: 16px;
}

.container2 {
	display: flex;
	text-align: center;
	align-items: stretch;
	flex-wrap: wrap;

	height: auto;

	flex-direction: row;
	justify-content: center;
	width: 1150px;
	margin: 0 auto;
}

.item7 {
	background-color: white;
	flex-grow: 2;
	width: 800px;
	box-sizing: border-box;
}

.item7 span {
	color: #76cdd8;
	font-size: 26px;
}

.item7 {
	padding: 50px 45px 50px 70px;
	color: black;
	text-align: start;
	line-height: 180%;
}

.item8 {
	width: 350px;
	box-sizing: border-box;
	background-image: url(/img/image-02.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.container3 {
	display: flex;
	text-align: center;
	align-items: stretch;

	height: auto;

	flex-direction: row;
	justify-content: center;
	width: 1150px;
	margin: 0 auto;
	background-color: white;
}

.item9 {
	width: 383px;
	box-sizing: border-box;
	background-image: url(/img/image-03.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.item10 {
	margin-left: 3px;
	width: 370px;
	box-sizing: border-box;
	margin: 30px 15px 30px 15px;
	border: 1px solid #4f8d96;
}

.item11 {
	width: 382px;
	box-sizing: border-box;
	margin: 30px 15px 30px 15px;
	border: 1px solid #4f8d96;
}

li {
	list-style-type: none;
}

.item-title {
	background-color: #4f8d96;
	padding: 15px 0px;
}

.item-title span {
	font-size: 24px;
	color: white;
}

.item-price {
	color: white;
}

ul {
	line-height: 220%;
	text-align: start;
}

.item-btn {
	margin-bottom: 30px;
}

.item10:hover {
	box-shadow: 0 0 0 0.2rem #24d4d4;
}

.item10:hover .read3 {
	border: 1px solid #4f8d96;
	background-color: #24d4d4;
}

.special {
	visibility: hidden;
	color: #24d4d4;
}

.special span {
	color: red;
	font-weight: bold;
}

.item11:hover {
	box-shadow: 0 0 0 0.2rem #24d4d4;
	margin: 5px 15px 5px 15px;
}

.item11:hover .special {
	visibility: visible;
}

.item11:hover .read3 {
	border: 1px solid #4f8d96;
	background-color: #24d4d4;
}

.read3 {
	background-color: #4f8d96;
	color: white;
	height: 50px;
	width: 200px;
	border: none;
	font-size: 16px;
}

.container4 {
	display: flex;

	flex-direction: row;
	flex-wrap: wrap;
	width: 1150px;
	margin: 0 auto;
	justify-content: center;
	height: 800px;
}

.appform {
	background-color: rgb(118, 205, 216);
	color: white;
	font-size: 24px;
	width: 1150px;
	box-sizing: border-box;
	padding: 30px 0px 70px 150px;
	z-index: 1;
}
.form0 {
	position: relative;
	top: -50px;
	background-color: white;
	width: 850px;
	height: 430px;
	z-index: 2;
}

.form1 {
	display: flex;
	justify-content: center;
	padding-top: 40px;
	flex-wrap: wrap;
}

.appform1 {
	position: relative;
	top: -100px;
	background-color: #4f8d96;
	color: white;
	font-size: 24px;
	width: 1150px;
	box-sizing: border-box;
	padding: 30px 0px 70px 0px;
	z-index: 1;
	display: flex;
	justify-content: space-evenly;
}

.lorem {
	box-sizing: border-box;
	padding-top: 60px;
	width: 220px;
}

.lorem p {
	font-size: 18px;
	margin-top: 5px;
	line-height: 160%;
}

.lorem .p2 {
	font-size: 18px;
	margin-top: 5px;
	line-height: 180%;
}

footer {
	text-align: center;
	height: 50px;
}

/* input::-webkit-calendar-picker-indicator {
	opacity: 1;
} */

.form_inputdata {
	height: 35px;
	width: 300px;
	margin-top: 10px;
	margin-right: 25px;
	padding: 10px;
}

.inputname {
	height: 35px;
	width: 300px;
	margin-top: 10px;
	margin-right: 25px;
	padding: 10px;
}

textarea {
	margin-top: 10px;
	padding: 10px;
}

.read4 {
	background-color: #4f8d96;
	color: white;
	height: 50px;
	width: 200px;
	border: none;
	font-size: 16px;
	position: relative;
	top: 20px;
	left: 350px;
}

.form_inputdata:focus {
	border-color: #24d4d4;
	outline-color: #24d4d4;
	box-shadow: 0 0 0 0.2rem #24d4d4;
}

.inputname:focus {
	border-color: #24d4d4;
	outline-color: #24d4d4;
	box-shadow: 0 0 0 0.2rem #24d4d4;
}

textarea:focus {
	border-color: #24d4d4;
	outline-color: #24d4d4;
	box-shadow: 0 0 0 0.2rem #24d4d4;
}

.read4:hover {
	background-color: rgb(118, 205, 216);
}

.court {
	height: 100%;
	width: 100%;
}
