:root {
  --primary-color: #f2c744;
  --light: #f4f6f9;
  --dark: #000;
  --primary-font: 'Shadows Into Light', cursive;
  --secondary-font: 'Dancing Script', cursive;
}


body{
  background-color: var(--light);
}

header{
  width: 100%;
  height: 130px;
  border: 1px solid rgba(114, 114, 114, 0.575);
  
  background-color: var(--light);
  box-shadow: 3px 5px 16px 4px rgba(0, 0, 0, 0.3);
}

.logo{
  
  width: auto;
  height: 55px;
  object-fit:fill;
  display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
  
}

.header span{
  font-family: var(--secondary-font);
  text-align: center;
  font-weight: bold;
  font-size:32px;
}

.header{
  font-family: var(--primary-font);
  text-align: center;
 font-size:16px;
}

main{
  display: grid;
  height: auto;
  grid-template-columns: 66% 34%;
  position: relative;
  
  
}

.container{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  height: 1000px;
  border: 1px solid rgba(114, 114, 114, 0.575);
  
  margin-top: 10px;
  display: grid;
  grid-template-columns: 32% 32% 32%;
    grid-template-rows: repeat(12, 8%);
    box-sizing: border-box;
    background-color: var(--light);
  box-shadow: 3px 5px 16px 4px rgba(0, 0, 0, 0.3);
    
}

.item1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  text-align: center;
  box-sizing: border-box;
  margin-top: 10px;
  margin-left: 10px;
}

.img1{
  
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 2%;
  
}

.item2{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 4;
  text-align: center;
  box-sizing: border-box;
  margin-top: 10px;
  margin-left: 10px;
}

.img2 {
  
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 2%;
}

.item3{
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 6;
  text-align: center;
  box-sizing: border-box;
  margin-top: 10px;
  margin-left: 10px;
}

.img3 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 2%;
}

.item4{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 7;
  text-align: center;
  box-sizing: border-box;
  margin-top: 10px;
  margin-left: 10px;
}

.img4 {
  
  width: 100%;
  height: 100%;
  object-fit: cover;
  
  border-radius: 2%;
}

.item5{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 6;
  text-align: center;
  box-sizing: border-box;
  margin-top: 10px;
  margin-left: 10px;
}

.img5 {
  
  width: 100%;
  height: 100%;
  object-fit: cover;
  
  border-radius: 2%;
}

.item6{
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 6;
  grid-row-end: 8;
  text-align: center;
  box-sizing: border-box;
  margin-top: 10px;
  margin-left: 10px;
}

.img6 {
  
  width: 100%;
  height: 100%;
  object-fit: cover;
  
  border-radius: 2%;
}

.item7{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 7;
  grid-row-end: 10;
  text-align: center;
  box-sizing: border-box;
  margin-top: 10px;
  margin-left: 10px;
}


.img7 {
  
  width: 100%;
  height: 100%;
  object-fit: cover;
  
  border-radius: 2%;
}

.item8{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 6;
  grid-row-end: 9;
  text-align: center;
  box-sizing: border-box;
  margin-top: 10px;
  margin-left: 10px;
}

.img8 {
  
  width: 100%;
  height: 100%;
  object-fit: cover;
  
  border-radius: 2%;
}

.item9{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 10;
  grid-row-end: 12;
  text-align: center;
  box-sizing: border-box;
  margin-top: 10px;
  margin-left: 10px;
}

.img9 {
  
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 2%;
}

.item10{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 9;
  grid-row-end: 13;
  text-align: center;
  box-sizing: border-box;
  margin-top: 10px;
  margin-left: 10px;
}

.img10 {
  
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 2%;
}

.item11{
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 8;
  grid-row-end: 13;
  text-align: center;
  box-sizing: border-box;
  margin-top: 10px;
  margin-left: 10px;
}

.img11 {
  
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 2%;
}



.container2{
  grid-column-start: 2;
  grid-column-end: 3;
  width: auto;
 
  margin-top: 10px;
  margin-left: 20px;
  position: sticky;
  height: auto;
  top:0px;
  border: 1px solid rgba(114, 114, 114, 0.575);
  
  box-sizing: border-box;
  background-color: var(--light);
  box-shadow: 3px 5px 16px 4px rgba(0, 0, 0, 0.3);
  text-align: center;
  padding-top: 20px ;

}



.background_image {
  
  object-fit: cover;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  
}

@media screen and (max-width: 575px) {
  .background_image {
  
    object-fit: cover;
    width: 70px;
    height: 70px;
    border-radius: 50%;
  }

  .container2{
    position: static;
    width: auto;
    margin-top: 10px;
    margin-left: 10px;
    
    height: auto;
    border: 1px solid rgba(114, 114, 114, 0.575);
    
    background-color: var(--light);
    box-shadow: 3px 5px 16px 4px rgba(0, 0, 0, 0.3);
    text-align: center;
    padding-top: 20px ;
  
  }

  
}

@media screen and (max-width: 768px) {
  .container2{
   
    position: static;
    
    width: auto;
    margin-top: 10px;
    margin-left: 10px;
    height: auto;
    border: 1px solid rgba(114, 114, 114, 0.575);
    
    
    background-color: var(--light);
    box-shadow: 3px 5px 16px 4px rgba(0, 0, 0, 0.3);
    text-align: center;
    padding-top: 20px ;
  
  }

  
}


.header2{
  font-family: var(--primary-font);
  text-align: center;
 font-size:16px;
 font-weight: 900;
}

.header2 span{
  font-family: var(--secondary-font);
  text-align: center;
  font-weight: bold;
  font-size:24px;
}

.lorem{
  font-family: var(--primary-font);
  text-align:center;
  padding: 0 10px;
  font-size:15px;
  margin: 0;
  
}

.lorem2{
  font-family: var(--primary-font);
  text-align:center;
  padding: 10px 10px;
  font-size:15px;
  margin: 0;
  
}

i{
  margin-bottom: 15px;
}


footer{
  
  width: 100%;
  height: auto;
  margin: 20px 0;
  border: 1px solid rgba(114, 114, 114, 0.575);
  background-color: var(--light);
  box-shadow: 3px 5px 16px 4px rgba(0, 0, 0, 0.3);
  text-align: center;
  padding-bottom: 10px;
  }

  .logo1{
    margin-top: 10px;
    width: auto;
    height: 35px;
    object-fit:fill;
    display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 0;
    
  }
  
  .header1 span{
    font-family: var(--secondary-font);
    text-align: center;
    font-weight: bold;
    font-size:16px;
  }
  
  .header1{
    font-family: var(--primary-font);
    text-align: center;
   font-size:14px;
  }

  .epam{
    font-family: var(--primary-font);
    
  }
