input[readonly] {
	border: none;
}

input[readonly]:focus {
	border: none;
	outline: none;
	box-shadow: none;
}

#overlay {
	width: 400px;
	height: 100%;
	background: #f1f2f3;
	opacity: 80%;
	position: absolute;
	top: 0;
	display: none;
}

#overlay svg {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

input[name='name'][readonly] {
	text-decoration: underline;
}

.spinner {
	animation: rotate 2s linear infinite;
	z-index: 2;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -25px 0 0 -25px;
	width: 50px;
	height: 50px;
}

button {
	background-color: aqua;
	font-weight: bold;
	border: 1px solid black;
   }
   
   ul{
	width: 50%;
	background-color: brown;
   }
   
   li {
	font-family: 'Courier New', Courier, monospace;
	color: chartreuse;
	font-size: 14px;
	word-wrap: break-word
   }
